@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './mixins.scss';


* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;

    img {
        width: 100%;
        height: 100%;
    }
}

body {
    color: #fff;
}

.hero {
    background: #DFCCC2;

    nav {

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 40px 50px;

        @include bp(tablet) {
            flex-direction: column;
            align-items: flex-start;
        }

        @include bp(mobile-landscape) {
            flex-direction: column;
            align-items: flex-start;
            padding: 30px;
        }

        .nav-block {
            width: 33.3%;

            @include bp(tablet) {
                width: 100%;
            }

            @include bp(mobile-landscape) {
                width: 100%;
            }

        }

        .navlinks {
            
            display: flex;

            @include bp(tablet) {
                flex-direction: column;
                align-items: flex-end;
                order: 2;
            }

            @include bp(mobile-landscape) {
                flex-direction: column;
                align-items: flex-end;
                order: 2;
            }


            .about {
                    margin: 0 70px;

                    @include bp(desktop) {
                        margin: 0 40px;
                    }

                    @include bp(tablet) {
                        margin: 0;
                    }

                    @include bp(mobile-landscape) {
                        margin: 0;
                    }
                    
                }

            .navlink {

                font-family: "DM Sans";
                cursor: pointer;
                letter-spacing: -0.4px;

                .link-line {
                    @include linkline;
                }

                &:hover {

                    .link-line {
                    @include linkline-hover;
                        
                    }
                }
            }
        }
            
            .drop {

                @include bp(tablet) {
                    overflow: hidden;
                    height: 0;
                    transition: all 0.5s ease-in;
                }

                @include bp(mobile-landscape) {
                    overflow: hidden;
                    height: 0;
                    transition: all 0.5s ease-in;
                }
                
            }

            .open {

                @include bp(tablet) {
                    height: auto;
                }

                @include bp(mobile-landscape) {
                    height: auto;
                }
            }


        .book {

            display: none;

            @include bp(tablet) {
                display: block;
            }

            @include bp(mobile-landscape) {
                display: block;
            }

        }



        .logo-text {
            display: flex;
            justify-content: center;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -1.2px;
            font-family: "Lexend Deca";
            

            @include bp(tablet) {
                order: 1;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0;
            }

            @include bp(mobile-landscape) {
                order: 1;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0;
            }


            .turn {
                transform: rotate(45deg);
            }

            .menu-btn {
                display: none;
                border: #fff 2px solid;
                border-radius: 2px;
                width: 4vw;
                height: 4vw;
                cursor: pointer;
                position: relative;
                transition: all 0.3s ease;


               

                @include bp(tablet) {
                    @include flex;
                }

                @include bp(mobile-landscape) {
                    @include flex;
                    width: 5vw;
                    height: 5vw;
                }

                

                .line {
                    background: #fff;
                    position: absolute;
                }

                .one {
                    width: 65%;
                    height: 1px;
                }

                .two {
                    width: 1px;
                    height: 65%;
                }
            }
        }
    }

    .booking-block {
        display: flex;

        @include bp(tablet) {
            display: none;
        }

        @include bp(mobile-landscape) {
            display: none;
        }
        
        .navlink {
            font-family: "DM Sans";
            cursor: pointer;
            letter-spacing: -0.4px;
            margin-left: auto;

            @include bp(tablet) {
                margin-left: 0;
            }

            @include bp(mobile-landscape) {
                margin-left: 0;
            }

            .link-line {
                @include linkline;
            }

            &:hover {

                .link-line {
                    @include linkline-hover;
                }
            }
        }
    }

.header {

    .header-top {
        display: flex;
        justify-content: center;
        padding-top: 80px;

        @include bp(mobile-landscape) {
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
        }

        .header-text {
            font-size: 28px;
            line-height: 48px;
            letter-spacing: -1.5;
            font-family: "Lexend Deca";
            max-width: 25vw;
            margin-top: 50px;
            margin-right: -7.5%;
            z-index: 3;

            @include bp(desktop) {
                max-width: 30vw;
            }

            @include bp(tablet) {
                font-size: 24px;
                line-height: 30px;
                max-width: 34.3vw;
            }

            @include bp(mobile-landscape) {
                max-width: 70%;
                text-align: center;
                margin-top: 0;
                margin-right: 0;
                font-size: 32px;
            }

        }

        .header-image {
          position: relative;

          @include bp(mobile-landscape) {
              margin-top: 15%;
          }

          .background-image {
            position: absolute;
            z-index: 1;
        }

            .left {
                width: 13.6vw;
                height: 13.8vw;
                top: 70%;
                left: -6.2vw;

                @include bp(tablet) {
                    width: 16.6vw;
                    height: 16.8vw;
                }

                @include bp(mobile-landscape) {
                    width: 18.6vw;
                    height: 18.8vw;
                    top: 85%;
                }

            }
   
            .right {
               width: 15.4vw;
               height: 12.7vw;
               top: -5.2vw;
               right: -8.2vw;

               @include bp(tablet) {
                   width: 17.4vw;
                   height: 14.7vw;
                   top: -6vw;
               }

               @include bp(mobile-landscape) {
                   width: 20.4vw;
                   height: 17.7vw;
                   top: -6vw;
                   right: -6vw;
               }
            }

            .bottom {
                width: 16.45vw;
                height: 12.7vw;
                top: 80%;
                right: -6.9vw;

                @include bp(tablet) {
                    width: 18.45vw;
                    height: 15.7vw;
                }

                @include bp(mobile-landscape) {
                    width: 21.45vw;
                    height: 17.7vw;
                    right: -9vw;
                    top: 90%;
                }
            }
   
           

           .girl-image {
            width: 28.6vw;
            height: 31.8vw;
            overflow: hidden;
            position: relative;
            z-index: 2;

            @include bp(tablet) {
                width: 32vw;
                height: 40vw;
            }

            @include bp(mobile-landscape) {
                width: 60vw;
                height: 70vw;
            }

            img {
                object-fit: cover;

            }
           }

           
        }

        .header-right {
            z-index: 2;
            
            @include bp(mobile-landscape) {
                display: flex;
                justify-content: center;
                margin: 10% auto;
            }
            

            .header-eye {
                border-radius: 50%;
                overflow: hidden;
                width: 17vw;
                height: 17vw;
                margin-left: -25%;
    
                img {
                    object-fit: cover;
                    transform: scale(1.8);
                    object-position: top;
                }

                @include bp(mobile-landscape) {
                    display: none;
                }
            }

            .right-text {
                line-height: 24px;
                color:#6E645F;
                font-family: "DM Sans";
                max-width: 12vw;
                margin-top: 30px;
                margin-left: 36px;

                @include bp(desktop) {
                    max-width: 15vw;
                }

                @include bp(tablet) {
                    max-width: 20vw;
                }

                @include bp(mobile-landscape) {
                    max-width: 60%;
                    text-align: center;
                }

            }
        }
     
    }

    .header-bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 12%;
        padding-right: 7vw;

        @include bp(mobile-landscape) {
            flex-direction: column;
            // align-items: center;
            text-align: center;
        }

        .left {
        position: relative;


            .girl-left {
                margin-left: 7vw;
                z-index: 2;
                position: relative;
                width: 21.6vw;
                height: 26.7vw;

                @include bp(mobile-landscape) {
                    width: 31.6vw;
                    height: 36.7vw;
                }
               
            }

            .swirl-left {
                position: absolute;
                left: 0;
                top: 30%;
                width: 24vw;
                height: 23.7vw;

                @include bp(mobile-landscape) {
                    width: 34vw;
                    height: 33.7vw;
                }
            }
        }

        .hero-text {

            margin: 0 80px;
            margin-top: 9vw;
            min-width: 25%;
            position: relative;

            
            @include bp(desktop) {
                margin: 0 40px;
                 margin-top: 6vw;

            }

            @include bp(tablet) {
                margin: 0 30px;
                margin-top: 2vw;
            }

            @include bp(mobile-landscape) {
                margin-top: 11vw;
            }

            

            .header-text {
                font-size: 28px;
                line-height: 48px;
                letter-spacing: -1.5;
                font-family: "Lexend Deca";

                @include bp(tablet) {
                    font-size: 25px;
                }

                @include bp(mobile-landscape) {
                    font-size: 36px;
                }
            }

            .right-text {
                line-height: 24px;
                color:#6E645F;
                font-family: "DM Sans";
                margin-top: 20px;

                @include bp(tablet) {
                    margin-top: 10px;
                }
            }
        }

        .right {
            position: relative;
             margin-top: 9vw;
             margin-bottom: -7vw;

             @include bp(desktop) {
              margin-top: 7vw;

             }

             @include bp(tablet) {
                 margin-top: 4vw;
            }

            @include bp(mobile-landscape) {
                align-self: end;
            }
    
                .flower {
                    z-index: 2;
                    position: relative;
                    width: 25vw;
                    height: 36.8vw;

                    @include bp(tablet) {
                        height: 38vw;
                    }

                    @include bp(mobile-landscape) {
                        width: 35vw;
                        height: 46.8vw;
                    }
                }
    
                .swirl-right {
                    position: absolute;
                    right: 55%;
                    top: 20%;
                    width: 34vw;
                    height: 25.6vw;

                    
                @include bp(desktop) {
                    top: 30%;
                }

                @include bp(tablet) {
                    top: 30%;
                }

                @include bp(mobile-landscape) {
                    width: 44vw;
                    height: 35.6vw;
                }
                }
            }
    }
}
}

.main {
    padding: 150px 0;
    background: #C5CEBD;
    display: flex;

    @include bp(mobile-landscape) {
        flex-direction: column;
    }

    .main-left {

        width: 65%;
        display: flex;
        align-items: center;

        @include bp(tablet) {
            width: 70%;
        }

        @include bp(mobile-landscape) {
            width: 100%;
        }


        .girl-main {
            width: 38.7vw;
            height: 49vw;
            position: relative;

            @include bp(mobile-landscape) {
                width: 48.7vw;
                height: 60vw;
            }


            img {
                z-index: 2;
                position: relative;
            }

            .main-bg {
                width: 15.5vw;
                height: 16.2vw;
                position: absolute;
                right: -20%;
                bottom: -15%;
                z-index: 1;

                @include bp(mobile-landscape) {
                    width: 16.5vw;
                    height: 26.2vw;
                    bottom: -20%;
                    right: -15%;
                }
            }
        }

        

    .main-text {

        max-width: 35%;
        margin: 0 56px;

        @include bp(desktop) {
            max-width: 45%;
            margin: 0 40px;
        }

        @include bp(tablet) {
            margin: 0 40px;
            max-width: 40%;
        }

        @include bp(mobile-landscape) {
            min-width: 40%;
            margin: 0 20px;
        }

        .header-text {
            font-size: 56px;
            line-height: 66px;
            letter-spacing: -1.5;
            font-family: "Lexend Deca";
            margin-left: -29%;
            z-index: 3;
            position: relative;

            @include bp(desktop) {
                font-size: 48px;
                line-height: 58px;
            }

            @include bp(tablet) {
                font-size: 35px;
                line-height: 40px;
            }

            @include bp(mobile-landscape) {
                font-size: 48px;
                line-height: 50px;
            }

        }

        .right-text {
            line-height: 24px;
            color:#6E645F;
            font-family: "DM Sans";
            margin-top: 40px;

            @include bp(tablet) {
                margin-top: 25px;
            }
        }
    }

     
    }

    .main-right {
        width: 35%;
        position: relative;
         margin-top: 18vw;
         margin-bottom: -7vw;

         @include bp(tablet) {
             width: 30%;
        }

        @include bp(mobile-landscape) {
            width: 100%;
            margin-top: 15vw;
            margin-bottom: 7vw;
        }

        .hair-dryer {
            width: 23.5vw;
            height: 27.7vw;
            position: absolute;
            top: 20vw;
            right: 5.6vw;
            z-index: 3;

            @include bp(mobile-landscape) {
                width: 33.5vw;
                height: 37.7vw;
                top: 0;
            }

            img {
                object-fit: cover;
            }

        }

        .main-inner {
           position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            @include bp(mobile-landscape) {
                overflow: visible;
            }

        .main-swirl {
            position: absolute;
            height: 38vw;
            width: 41.8vw;
            z-index: 1;
            top: 0;

            @include bp(mobile-landscape) {
                right: 35vw;
            }
            
        }

        .main-hair {
            width: 27.6vw;
            height: 27.6vw;
            border-radius: 50%;
            overflow: hidden;
            margin-right: -50%;
            position: absolute;
            right: 0;
            z-index: 2;

            @include bp(mobile-landscape) {
                display: none;
            }


            img {
                object-fit: cover;
                object-position: center;
            }
        }
     }

     
    }

}

.services-wrapper {
    position: relative;

    
.services-block {
    font-family: "Lexend Deca";
    padding: 10.4vw 14.4vw;
    background: #dfccc2;

    
    .services-title {
        text-align: center;
        font-size: 40px;

        @include bp(mobile-landscape) {
            margin-top: 10%;
            font-size: 48px;
        }
    }

    .hairstyle-block {
        display: flex;
        justify-content: space-between;
        padding-top: 7%;


        @include bp(mobile-landscape) {
            flex-direction: column;
            align-items: center;
        }

        .cut {

            .cut-image {
                width: 13vw;
                height: 22.5vw;

                @include bp(tablet) {
                    width: 15vw;
                    height: 26.5vw;
                }

                @include bp(mobile-landscape) {
                    width: 33vw;
                    height: 46.5vw;
                }

                img {
                    object-fit: cover;
                }
            }

            .cut-text {
                font-size: 30px;
                margin-top: 30px;

                @include bp(tablet) {
                    font-size: 25px;
                }
            }
        }

        .color {
            margin: 0 10.4vw;
            position: relative;
            margin-top: 10vw;

            .color-text {
                font-size: 30px;
                margin-bottom: 30px;

                @include bp(tablet) {
                    font-size: 25px;
                }

                
            }

            .color-block {
                display: flex;


                .color-img {
                    width: 13vw;
                    height: 37.9vw;

                    @include bp(tablet) {
                        width: 15vw;
                        height: 43.9vw;
                    }

                    @include bp(mobile-landscape) {
                        width: 33vw;
                        height: 60vw;
                    }

                    
                .color-description {
                    text-align: right;
                    position: absolute;
                    min-width: 22vw;
                    bottom: -7vw;
                    right: 9.5vw;
                    z-index: 4;

                    @include bp(desktop) {
                        min-width: 25vw;
                    }

                    @include bp(tablet) {
                        min-width: 25vw;
                    }

                    @include bp(mobile-landscape) {
                        min-width: 50vw;
                        right: 20vw;
                        bottom: -12vw;
                    }


                    .desc {
                        font-size: 38px;

                        @include bp(desktop) {
                            font-size: 30px;
                        }

                        @include bp(tablet) {
                            font-size: 24px;
                        }
                    }

                .menu {
                    display: flex;
                    justify-content: end;
                    margin-top: 30px;
                     

                    .menulink {
                        
                        font-family: "DM Sans";
                        cursor: pointer;
                        letter-spacing: -0.4px;
        
                        .link-line {
                           @include linkline;
                         }
        
                        &:hover {
        
                            .link-line {
                             @include linkline-hover;

                            }
                        }
                    }
                }
                }

                    img {
                        object-fit: cover;
                        z-index: 2;
                        position: relative;
                    }

                    .color-bg {
                        position: absolute;
                        width: 15.2vw;
                        height: 14vw;
                        z-index: 1;
                        bottom: -4.3vw;
                        right: -5.8vw;

                        @include bp(mobile-landscape) {
                            width: 26.5vw;
                            height: 25vw;
                            bottom: -8vw;
                        }
                    }
                }
            }
        }

        .braid {

            @include bp(mobile-landscape) {
                margin-top: 22vw;
            }

             .braid-img {
                 width: 13.3vw;
                 height: 26.3vw;
                 position: relative;

                 @include bp(tablet) {
                    width: 15vw;
                    height: 30.5vw;
                }

                @include bp(mobile-landscape) {
                    width: 33vw;
                    height: 46.3vw;
                }

                 img {
                     object-fit: cover;
                     position: relative;
                     z-index: 2;
                 }

                 .braid-bg {
                     width: 15.2vw;
                     height: 11.8vw;
                     position: absolute;
                     z-index: 1;
                     bottom: 0;
                     right: -9.5vw;

                     @include bp(mobile-landscape) {
                        width: 25.2vw;
                        height: 21.8vw;
                        right: -15vw;
                    }

                     img {
                         object-fit: contain;
                     }
                 }
             }

             .braid-text {
                font-size: 30px;
                margin-top: 30px;

                @include bp(tablet) {
                    font-size: 25px;
                }
            }
        }
    }

 
}

.important {
    position: absolute;
    font-family: "DM Sans";
    bottom: 0;
    right: 0;
    transform: rotate(90deg);
    z-index: 5;
    letter-spacing: 2px;

    @include bp(tablet) {
        font-size: 14px;
    }

    @include bp(mobile-landscape) {
        right: -40px;
    }
}
}

.passion  {
    background-image: url("./images/woman-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 50vw;
    background-position: bottom;
    position: relative;
    display: flex;
    font-family: "DM Sans";
    justify-content: center;
    padding-bottom: 7.3vw;
    align-items: flex-end;

    @include bp(mobile-landscape) {
        min-height: 70vw;
    }

    .overlay {
        background-color: rgba(209, 209, 209, 0.2);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }


    .passion-inner {
        text-align: center;

        .passion-title {
            font-family: "Lexend Deca";
            font-size: 56px;
            margin-bottom: 20px;

            @include bp(tablet) {
                font-size: 48px;
            }

            @include bp(mobile-landscape) {
                font-size: 46px;
            }
         }


         .passion-text {
             max-width: 70%;
             margin: 0 auto;
             line-height: 24px;

             @include bp(tablet) {
                 max-width: 65%;
                 line-height: 20px;
            }
         }

    }
}


.appointment-container {
    background: #C2B8CC;

    
    
.horizontal-scroll {
    padding: 2%;
    font-size: 10vw;
    font-family: "Lexend Deca";
    width: 100%;
    overflow: hidden;
    padding-bottom: 7vw;


    .scroll-text {
        width: 150vw;
    }


}

    .appointment-block {
    @include flex;
    padding-top: 17.57vw;
    padding-bottom: 7vw;


    .left-block {
        width: 15.9vw;
        height: 17.7vw;
        margin-top: 25.4vw;
        margin-right: -3vw;
        position: relative;
        z-index: 3;


        @include bp(mobile-landscape) {
            margin-top: 50vw;
        }

        @include bp(mobile-landscape) {
            width: 25vw;
            height: 25vw;
            margin-right: -10vw;
        }

        img {
            object-fit: cover;
        }
    }

    .center-block {
        display: flex;
        position: relative;

        .bestself-abstract {
            width: 16.45vw;
            height: 17.5vw;
            position: absolute;
            left: -14vw;
            top: 9vw;

            @include bp(mobile-landscape) {
                width: 20vw;
                height: 22vw;
                top: 27vw;
                left: -16vw;
            }
        }

        .bw-woman {
            width: 31.8vw;
            height: 35.4vw;
            position: relative;
            z-index: 2;

            @include bp(mobile-landscape) {
                width: 61.8vw;
                height: 65.4vw;
            }

            img {
                object-fit: cover;
            }
        }

        .bestself-vector {
           width: 15.2vw;
           height: 22.29vw;
           position: absolute;
           right: -6vw;
           top: 4vw;

           @include bp(mobile-landscape) {
            width: 25vw;
            height: 32vw;
        }
        }
    }

    .right-block {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 12vw;
        margin-left: -6vw;
        position: relative;
        z-index: 3;

        @include bp(mobile-landscape) {
            margin-left: -12vw;
            margin-bottom: 35vw;
        }

        .image-cont {
            width: 17.8vw;
            height: 18vw;

            @include bp(desktop) {
                width: 22vw;
                height: 19vw;
            }

            @include bp(mobile-landscape) {
                width: 30.8vw;
                height: 30vw;
            }

            @include bp(tablet) {
                width: 24vw;
                height: 19vw;
            }

            img {
                object-fit: cover;
            }
        }

        .desc-container {
            max-width: 16.4vw;

            @include bp(desktop) {
                max-width: 20vw;
            }

            @include bp(tablet) {
                max-width: 22vw;
            }

            @include bp(mobile-landscape) {
                max-width: 28vw;
            }
            

            .best-self {
                font-family: "Lexend Deca";
                line-height: 40px;
                font-size: 30px;
                margin-top: 7vw;

                @include bp(desktop) {
                    font-size: 28px;
                }

                @include bp(tablet) {
                    font-size: 23px;
                    line-height: 30px;
                }

                @include bp(mobile-landscape) {
                    line-height: 30px;
                    font-size: 23px;
                }
            }

            .appointment {
                margin-top: 30px;
                display: flex;
               justify-content: start;

                .appointment-link {

                    font-size: 14px;
                    
                    font-family: "DM Sans";
                    cursor: pointer;
                    letter-spacing: -0.4px;

                    .link-line {
                      @include linkline;

                    }

                    &:hover {

                        .link-line {
                             @include linkline-hover;

                        }
                    }
                }
            }
        }
    }
}
}



.footer {
    padding: 7vw 6vw;
    background: #DFCCC2;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include bp(tablet) {
        flex-direction: column;
        align-items: start;
    }

    @include bp(mobile-landscape) {
        flex-direction: column;
        align-items: start;
    }

    .footer-items {
        display: flex;
        font-family: "DM Sans";

        .footer-block {
            margin-right: 75px;


            .footer-inner {
                margin-bottom: 30px;
            }

            .footer-link {
                cursor: pointer;

                a {
                   transition: all 0.3s ease;

                   
                    &:hover {
                        opacity: 0.7;
                        color: red;
                    }
                 }

                 
                
            }
        }

    }

    .apply-block {
        font-family: "Lexend Deca";
        font-size: 25px;

        @include bp(tablet) {
            padding-top: 30px;
        }

        @include bp(mobile-landscape) {
            padding-top: 30px;
        }
    }


    .apply-inner {
        
            display: flex;
            justify-content: end;
            margin-top: 20px;

            @include bp(tablet) {
                justify-content: start;
            }

            @include bp(mobile-landscape) {
                justify-content: start;
            }

            .applylink {
                
                font-family: "Lexend Deca";
                cursor: pointer;
                letter-spacing: -0.4px;

                .link {
                color:  #F95454;

                @include bp(tablet) {
                    font-size: 22px;
                }

                @include bp(mobile-landscape) {
                    font-size: 22px;
                }

                }

                .link-line {
                    @include linkline;

                }

                &:hover {

                    .link-line {
                         @include linkline-hover;

                    }
                }
            }
        
    }
}